body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .vacancy {
    background-color: #beeff9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  .vacancy h2 {
    margin-top: 0;
  }

  .vacancy p {
    margin: 10px 0;
  }

  /* Media query for screens wider than 500px */
  @media (max-width: 301px) {
    body {
      align-items: center;
    }
  }